<!DOCTYPE html>
<html lang="en">
<head>
  <title>Experting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="index.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Experting (Unreleased)</h1>
  <div class="row">
    <div class="col-sm-6" style="background-color:lavender;">
      <div class="row form-group">
        <div class="padding-10-customized col-sm-10">
          <label class="label-xlarge-customized" for="word">Drop your word here</label>
          <input type="text" class="form-control input-box-customized label-large-customized" id="word"/>
        </div>
        <div class="padding-10-customized col-sm-2">
          <button type="button" class="btn btn-primary search-button-customized label-large-customized" onclick="callAPI()">Search</button>
        </div>
      </div>
      <div>
        <label class="label-xlarge-customized" id="wordsearch"></label><br/>
        <label class="label-italic-customized label-larger-customized" id="type"></label><br/>
        <label class="label-medium-customized" id="mean1"></label><br/>
        <label class="label-medium-customized" id="mean2"></label><br/>
        <label class="label-medium-customized" id="mean3"></label><br/>
        <label class="label-medium-customized" id="mean4"></label><br/>
        <label class="label-medium-customized" id="mean5"></label><br/>
        <label class="label-medium-customized" id="mean6"></label><br/>
        <label class="label-medium-customized" id="mean7"></label><br/>
        <label class="label-medium-customized" id="mean8"></label><br/>
        <label class="label-medium-customized" id="mean9"></label>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>

</body>
</html>
