@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
.search-button-customized{
  margin-top: 4rem;
  height: 40px;
  width: 100%;
  min-width: 9rem;
}
.input-box-customized{
  height: 42px;
}
.label-xlarge-customized{
  font-size: x-large;
}
.label-large-customized{
  font-size: large;
}
.label-larger-customized{
  font-size: larger;
}
.label-medium-customized{
  font-size: medium;
}
.label-italic-customized{
  font-style: italic;
}
.padding-10-customized{
  padding: 10px;
}